/*Fonts*/
@font-face {
  font-family: metro-ui;
  src: url(../fonts/weblysleekuil.ttf);
}
/*Colors*/
/* region Item*/
.rect-item {
  stroke: #404040;
  fill: #f3f3f3;
  stroke-width: 2px;
}
.rect-item.selected {
  stroke: #007acb;
}
.rect-item.loading {
  stroke: #007acb !important;
}
.property-name {
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
}
/* endregion Item*/
